:root {
    --color-bg__card: rgb(138, 45, 45);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

main {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
}

.business__card {
    background-color: var(--color-bg__card);
    width: 1370px;
    height: 635px;
    border-radius: 51px;
    box-shadow: 10px 10px 4px 0px rgba(138, 45, 45, 0.2);
}

.business__card .card {
    display: grid;
    grid-template-columns: 1fr 580px;
}

aside {
    color: #FFF;
    padding: 46px 60px;
}

aside .name {
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

aside .content {
    padding-top: 27px;
}

aside .content .content__name {
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    width: 140px;
    padding-bottom: 46px;
}

aside .content__more .content__name {
    font-size: 36px;
    /* line-height: 49px; */
    width: 582px;
    position: relative;
    padding-bottom: 20px;
}

aside .content__more .content__name::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #FFF;
    /* bottom: 0; */
    left: 3px;
    border-radius: 20px;
}

aside .content .content__name::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #FFF;
    left: 3px;
    border-radius: 20px;
}

.content__more ul li {
    padding-bottom: 16.1px;
}

aside .content ul li {
    padding-bottom: 23px;
}

aside .content ul li p,
aside .content__more ul li p {
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

aside .button {
    margin-top: 66px;
    width: 268px;
}

aside .button button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: rgb(0, 0, 0);
    width: 100%;
    height: 60px;
    border-radius: 83px;
    background: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: all .3s;
    border: none;
    border: 3px solid white;
}

aside .button button:hover,
aside .button button:focus {
    box-shadow: inset 15em 0 0 0 var(--color-bg__card);
    color: white;
    cursor: pointer;
}

.images {
    position: relative;
    display: grid;
    grid-template-columns: 40px auto 40px;
    /* grid-template-rows: 1fr; */
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.slider {
    width: 100%;
}

.images img {
    width: 385px;
    height: 540px;
    object-fit: cover;
    border-radius: 243px;
    /* display: none; */
}

.slider img {
    display: none;
}

.slider img.hidden {
    display: block;
    border: 3px solid white;
}

img.left {
    width: 100%;
    height: 64px;
    transform: rotate(180deg);
}

img.right {
    width: 100%;
    height: 64px;
}

.content__more {
    display: none;
}

.hidden {
    display: block;
}

.disabled {
    display: none;
}